{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
    <title>Acquire!</title>
</head>
<body>
    <h1>Acquire!</h1>
    <h3>Players</h3>
    <div id="players">
        {% for player in testGame.players %}
        <table class="player-table">
            <thead>
                <tr><td>{{ player.username }}</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form method="post" action="">
                            {% csrf_token %}

                            {% for tile in player.tile_tray %}
                            <button type="submit" name="play_tile_action" value="button{{ tile.name }}">{{ tile.name }}</button>
                            {% endfor %}

                        </form>
                        
                        
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    <table id="grid">
        <tbody>
            {% for row in testGame.grid.rows %}
            <tr>
                {% for column in testGame.grid.columns %}
                <td>
                    {{ row }}{{ column }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>