{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
    <title>Acquire!</title>
</head>
<body>
    <h1>Acquire!</h1>
    <h3>Players</h3>
    <table>
        <tbody>
            {% for player in testGame.players %}
            <tr>
                <td>{{ player.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>