.playersSection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 20px;
}

.activePlayer {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activePlayer table {
    flex-grow: 1;
    background-color: lightgreen;
}

.inactivePlayers {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.inactivePlayers table {
    background-color: lightgray;
}

#players {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

#grid {
    gap: 10px;
}

.grid-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.grid-space-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 40px;
    min-height: 40px;
    
}

.grid-space-indep {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: bold;
    min-width: 40px;
    min-height: 40px;
    
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    border: 1px solid black
}

td {
    border: 1px solid #000; /* 1px solid black border for table cells */
    padding: 12px; /* Add padding for cell content */
    text-align: center; /* Align text to the left within cells */
}
